@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
/* recipe-app/src/App.css */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-banner {
  width: 100%;
  background-color: #fff3e0;
  text-align: center;
  height: 100px;
  position: fixed;
  padding: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.title-banner h1 {
  font-family: 'Pacifico', cursive;
  color: #ff7043;
  margin: 0;
  font-size: 2.5em;
}


.top-bar {
  width: 100%;
  height: 100px;
  top: 100px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f9fa;
  z-index: 1;
}

.filter-button {
  background-color: #ff7043;
  border: none;
  color: white;
  padding: 10px 20px;
  margin-left: 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.filter-group input[type="checkbox"] {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  background-color: #f37fe9;
  border: 2px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.filter-group input[type="checkbox"]:checked {
  background-color: #7b2386;
  border-color: #cd81e0;
}

.filter-group input[type="checkbox"]:focus {
  outline: none;
}

.filter-group input[type="checkbox"]:hover {
  background-color: #e0e0e0;
}

.filter-button:hover {
  background-color: #b12f95;
}

.filter-drawer {
  display: none;
  z-index: 2;
}

.filter-drawer.open {
  display: block;
  /* Other styles for the open state */
}

.filter-drawer.closed {
  display: none;
  /* Other styles for the closed state */
}

.search-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-bar {
  width: 600px; /* Fixed width */
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  flex: center;
  box-sizing: border-box;
}

.paginated-list {
  width: 100%;
  max-width: 800px;
  margin-top: 200px;
  padding: 20px;
}

.user-info {
  margin-bottom: 20px;
}

.recipe-admin-list {
  width: 100%;
  text-align: center;
}

.recipe-admin-list table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.recipe-admin-list th, .recipe-list td {
  border: 1px solid #ddd;
  padding: 8px;
}

.new-recipe-button {
  margin-bottom: 20px;
  margin-left: 20px;
  padding: 10px 20px;
  border: none;
  background-color: #ff7043;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 5px;
}

.new-recipe-button:hover {
  background-color: #9e462b;
}

.recipe-admin-list th {
  background-color: #f2f2f2;
}

.action-icon {
  margin: 0 5px;
  cursor: pointer;
  transition: color 0.3s;
}

.action-icon:hover {
  color: #b36500;
}

.recipe-list {
  display: block;
  list-style-type: none;
  padding: 0;
}

.recipe-list h2 {
  font-family: 'Pacifico', cursive;
  color: #ff7043;
}

.recipe-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  transition: border-color 0.3s, box-shadow 0.3s;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.recipe-item span {
  color: #ff7043;
  font-style: bold;
}

.recipe-content {
  width: 55%; /* Adjust the width of the content */
}

.recipe-image {
  max-width: 40%; /* Adjust the width of the image */
  max-height: 250px;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.recipe-details-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.recipe-details {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
}

.recipe-image-details {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 20px;
}

.recipe-item:hover,
.recipe-item:focus {
    border-color: #ff7043;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    outline: none;
}

.recipe-item h2 {
    margin-top: 0;
    font-size: 1.5em;
}

.recipe-item p {
    margin: 10px 0;
}

.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.pagination button {
    background-color: #ff7043;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}


.pagination button:hover {
    background-color: #ff7043;
}
.profile-button {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 15px;
}

.profile-button span {
  font-size: 1em;
}

.profile-button button {
  background-color: transparent;
  border: none;
  color: #ff7043;
  cursor: pointer;
  font-size: 1em;
  padding: 0;
  margin-left: 10px;
}

.profile-button button:hover {
  text-decoration: underline;
}

.filter-drawer {
  width: 250px;
  padding: 20px;
  background-color: #fcb099;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  height: calc(100% - 60px);
  overflow-y: auto;
}

.filter-drawer h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.filter-group {
  margin-bottom: 20px;
}

.filter-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.filter-group input[type="range"],
.filter-group input[type="number"],
.filter-group select {
  width: 100%;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.filter-group span {
  display: block;
  margin-top: 5px;
  font-size: bold;
  font-size: 1em;
  color: #303030;
}

.reset-password{
    max-width: 400px;
    padding: 20px;
    position: fixed;
    margin-right: 20px;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.reset-password input[type="email"],
.reset-password input[type="password"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.reset-password .error {
    color: red;
    margin-bottom: 15px;
}

.reset-password .toggle {
    display: inline-block;
    padding: 10px 15px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
    background-color: #ff7043;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.reset-password .toggle:hover {
    background-color: #bd5535;
}

.reset-password .toggle[type="button"] {
    background-color: #6c757d;
}

.reset-password .toggle[type="button"]:hover {
    background-color: #5a6268;
}

.login-container {
  max-width: 400px;
  padding: 20px;
  position: fixed;
  margin-right: 20px;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-container h2 {
  margin-bottom: 20px;
  font-size: 1.5em;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.form-group input {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.form {
  display: flex;
  flex-direction: column;
}

.form div {
  margin-bottom: 10px;
}

.form button {
  padding: 10px;
  background-color: #ff7043;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form button:hover {
  background-color: #ff7043;
}

.login-container span {
  color: #ff7043;
  cursor: pointer;
}

.login-container span:hover {
  text-decoration: underline;
}

.heart-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #ddd;
  cursor: pointer;
  transition: color 0.3s;
}

.heart-icon.liked {
  color: #ff00d4;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  width: 80%;
  height: 90%;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.back-button {
  position: absolute;
  top: 10px;
  left: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.admin-buttons {
  display: flex;
  justify-content: space-around;
  width: 60%;
}

.admin-button {
  width: 200px;
  padding: 15px;
  margin: 10px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #ff7043;
  color: white;
  transition: background-color 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.admin-button:hover {
  background-color: #a84a2d;
}

.admin-button svg {
  margin-top: 10px;
}

.user-list {
  width: 100%;
  text-align: center;
}

.user-list .filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.user-list .search-bar {
  padding: 10px;
  width: 50%;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 10px;
}

.user-list .filter-dropdown {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 10px;
}

.user-list table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.user-list th, .user-list td {
  border: 1px solid #ddd;
  padding: 8px;
}

.user-list th {
  background-color: #f2f2f2;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.pagination button {
  margin: 0 5px;
  padding: 10px 15px;
  border: none;
  background-color: #ff7043;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagination button.active {
  background-color: #ff7043;
}

.pagination button:hover {
  background-color: #a8492c;
}

.confirm-button {
  padding: 10px 20px;
  border: none;
  background-color: #28a745;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.confirm-button:hover {
  background-color: #218838;
}

.edit-recipe-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1001;
}

.edit-recipe-modal .form-group {
  margin-bottom: 15px;
}

.edit-recipe-modal .form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.edit-recipe-modal .form-group input,
.edit-recipe-modal .form-group textarea,
.edit-recipe-modal .form-group select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.edit-recipe-modal .form-actions {
  display: flex;
  justify-content: space-between;
}

.edit-recipe-modal .form-actions button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.edit-recipe-modal .form-actions button:first-child {
  background-color: #28a745;
  color: white;
}

.edit-recipe-modal .form-actions button:first-child:hover {
  background-color: #218838;
}

.edit-recipe-modal .form-actions button:last-child {
  background-color: #dc3545;
  color: white;
}

.edit-recipe-modal .form-actions button:last-child:hover {
  background-color: #c82333;
}